@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  /* --background-end-rgb: 255, 255, 255;
} */

body{
  color:white;
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(18, 120, 151);
} 
.custom_combobox{
  background-color:rgb(34, 147, 212);
  border-radius: 10px;
}
.custom_date{
  background-color:rgb(34, 147, 212);
  border-radius: 10px;
}